body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.block{
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: relative;
  box-sizing: border-box;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 1s, left 1s, transform 1s ;
}

.block.ctrl{
  transform: scale(1.25, 0.6) translate(0px, 30px);
}

.boom{
  size: 20px;
  font-weight: bold;
  color: brown;
  margin: 0;
}